<div class="container">
    <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
      <strong>Complete Your Profile!</strong> Please complete your profile and submit the necessary documents for verification to use the app without any hassle.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <h1 class="animated-heading">
      Welocme Username!! How can I help you today?
    </h1>
    <div class="row justify-content-center mb-2">
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/design-prescription.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Design Prescription Format</h5>
            <p class="card-text">Design your own prescription template.</p>
            <a href="physician/design-prescription" class="btn btn-primary">Go to Design Prescription</a>
          </div>
        </div>
      </div>
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/patient-record.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Patient Management</h5>
            <p class="card-text">View and update patient records.</p>
            <a href="physician/patient-record" class="btn btn-primary">Go to Patient Record</a>
          </div>
        </div>
      </div>
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/appointment.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Manage Appointments</h5>
            <p class="card-text">Accept/Reject and manage appointment requests.</p>
            <a href="physician/appointments" class="btn btn-primary">Go to Appointments</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/medical-journal.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Medical Journal</h5>
            <p class="card-text">Access and update medical journals.</p>
            <a href="physician/medical-journal" class="btn btn-primary">Go to Medical Journal</a>
          </div>
        </div>
      </div>
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/cases.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Medical Cases</h5>
            <p class="card-text">Review and analyze medical cases.</p>
            <a href="physician/medical-cases" class="btn btn-primary">Go to Medical Cases</a>
          </div>
        </div>
      </div>
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/survey.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Survey</h5>
            <p class="card-text">Create and manage surveys.</p>
            <a href="physician/survey" class="btn btn-primary">Go to Survey</a>
          </div>
        </div>
      </div>
    </div>
  </div>