<div class="capsule-container">
    <div class="logo-container">
      <div class="logo-animated"></div>
      <h2>HealthDesk</h2>
    </div>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required type="text" placeholder="Enter username">
          <mat-error *ngIf="getControl('username')?.invalid && getControl('username')?.touched">Username is
            required</mat-error>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" required [type]="hide ? 'password' : 'text'"
            placeholder="Enter password">
          <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Show password'" class="m-1 cursor-pointer">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </div>
          <mat-error *ngIf="getControl('password')?.invalid && getControl('password')?.touched">Password is
            required</mat-error>
        </mat-form-field>
      </div>
  
      <button mat-raised-button class="custom-primary full-width login-button" type="submit">Login</button>
  
      <div class="divider">or</div>
  
      <div class="auth-options">
        <p class="signup-text">
          Don't have an account?
          <a (click)="navigateToSignup()" class="cursor-pointer">
            <mat-icon>person_add</mat-icon> Sign up
          </a>
        </p>
        <p class="signup-text">
          <a (click)="navigateVerifyPassword()" class="cursor-pointer">
            <mat-icon>lock_open</mat-icon> Forgot Password?
          </a>
        </p>
      </div>
    </form>
  </div>