<div class="capsule-container">
    <div class="logo-container">
      <div class="logo-animated"></div>
      <h2 class="page-header">Reset Password</h2>
    </div>
  
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <!-- Username Field (Read-Only) -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{isEmail? 'Email Id' : 'Mobile Number'}}</mat-label>
        <input matInput formControlName="contactInfo" readonly>
      </mat-form-field>
  
      <!-- New Password Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Enter password">
        <button mat-icon-button matSuffix matTooltip="6+ characters, alphanumeric, and symbols (_@.$&*-)">
          <mat-icon>info</mat-icon>
        </button>
        <mat-error *ngIf="getControl('password')?.invalid && getControl('password')?.touched">
          {{'Please enter a valid password'}}
        </mat-error>
      </mat-form-field>
  
      <!-- Confirm Password Field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" required [type]="hide ? 'password' : 'text'"
          placeholder="Confirm password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Show password'" class="m-1">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="!isPasswordMatch() && getControl('confirmPassword')?.touched">
          Passwords do not match
        </mat-error>
      </mat-form-field>
  
      <!-- Submit Button -->
      <button mat-raised-button color="primary" type="submit">Reset Password</button>
    </form>
  </div>