<header class="header">
    <div class="logo-site">
      <img src="assets/logo.png" alt="Logo" class="logo">
      <span>Site Name</span>
    </div>
    <div class="nav-links">
      <a routerLink="/about" matTooltip="About Us">
        <mat-icon>info</mat-icon> About Us
      </a>
      <div class="dropdown">
        <img src="assets/profile.jpg" alt="Profile" class="profile-icon">
        <span>Profile</span>
        <div class="dropdown-menu">
          <a routerLink="/edit-profile">Edit Profile</a>
          <a >Logout</a>
        </div>
      </div>
    </div>
  </header>