<div class="capsule-container">
    <div class="logo-container">
      <div class="logo-animated"></div>
      <h2 class="page-header">HealthDesk</h2>
    </div>
  
    <h3 class="page-header">Verify Contact</h3>
  
    <form [formGroup]="verifyForm" (ngSubmit)="sendOtp()">
      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label> Mobile Number</mat-label>
          <input matInput formControlName="mobile" placeholder="Enter Mobile Number">
          <mat-error *ngIf="getControl('mobile')?.invalid && getControl('mobile')?.touched">
            Please enter a valid mobile number
          </mat-error>
        </mat-form-field>
      </div>
      <div class="divider">or</div>
      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label> Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter Email">
          <mat-error *ngIf="getControl('email')?.invalid && getControl('email')?.touched">
            Please enter a valid mobile number
          </mat-error>
        </mat-form-field>
      </div>
      <!-- reCAPTCHA widget -->
      <!-- Show reCAPTCHA only before OTP is sent -->
      <div *ngIf="!isOtpSent" class="captcha-container">
        <re-captcha (resolved)="onCaptchaResolved($event)" siteKey="6LeLvHIqAAAAAJJVlNmel7PIIAdvQ1Gw3JeaXSMP"></re-captcha>
      </div>
      <div class="resend-otp-message" *ngIf="isOtpSent && !isResendAvailable">
        <span class="resend-countdown">Resend OTP in {{ countdown }} seconds</span>
      </div>
      <button mat-raised-button color="primary" class="full-width login-button m-3" type="submit" [disabled]="!captchaVerified || isOtpSent && !isResendAvailable">
        {{ isOtpSent ? 'Resend OTP' : 'Send OTP' }}
      </button>
    </form>
  
      <!-- OTP Section, displayed after clicking Send OTP -->
      <div *ngIf="isOtpSent" class="otp-section" [formGroup]="verifyForm">
        <h4 class="otp-title">Enter OTP</h4>
        <div formArrayName="otp" class="otp-inputs">
          <input maxlength="1" *ngFor="let control of otpControls.controls; let i = index" [formControlName]="i" class="otp-input">
        </div>
    
        <button mat-raised-button color="primary" class="full-width login-button m-2" (click)="verifyOtp()">Verify OTP</button>
      </div>
    
      <div class="divider">or</div>
    
      <div class="auth-options">
        <p class="signup-text">
          Don't have an account?
          <a (click)="navigateToSignup()" class="signup-link cursor-pointer">
            <mat-icon>person_add</mat-icon> Sign up
          </a>
        </p>
        <div (click)="navigateToLogin()" class="forgot-password-link cursor-pointer">
          <mat-icon>lock_open</mat-icon>  Sign In?
        </div>
      </div>
    </div>